Django==4
django-environ==0
django-rest-swagger==2
djangorestframework==3
djangorestframework-simplejwt==5
PyJWT==2
django-cors-headers
django-allauth
drf-yasg2
django-rest-registration
gunicorn
django-on-heroku
